@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-background text-foreground; 
  }
}

::-webkit-scrollbar { 
  width: 4px; 
}

::-webkit-scrollbar-track { 
  background: transparent; 
}

::-webkit-scrollbar-thumb { 
  background: #2b4680; 
  border-radius: 10px; 
}

.glass-effect { 
  backdrop-filter: blur(12px); 
  background-color: rgba(5, 24, 60, 0.6); 
}